* {
    margin:0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h5 {
    font-weight: 700;
}

.container {
    padding-top: 63px;
}
.btn.disabled {
    color: #fff!important;
}

.bg-purple-light {
    background: #451e36
}
.bg-purple-dark {
    background: #38052a;
}
#carousel p, #registro p, #resendCode p,
#registerCard p:first-child{
    color: #5d5151;
    font-size: 19px;
}
last-child
#registro .input-field,
#resendCode .input-field,
#passwCard .input-field {
    position: relative;
}
#registro img:first-child,
#resendCode img:first-child,
#time-out img:first-child,
#registerCard img:first-child,
#passwCard img:first-child,
#createUser img:first-child,
#lastMove img:first-child {
    width: 105px;
}

#registro input[type=text].valid,
#registro  [type=text],
#registro input[type=text]:focus,
#createUser input.valid,
#createUser  input,
#createUser input[type=text]:focus
#createUser input[type=password]:focus,
#createUser input[type=text]:focus,
#resendCode input[type=text].valid,
#resendCode  [type=text],
#resendCode input[type=text]:focus,
#registerCard input[type=text].valid,
#registerCard  [type=text],
#registerCard input[type=text]:focus,
#passwCard input[type=password].valid,
#passwCard  [type=password],
#passwCard input[type=password]:focus {
    border-bottom-color: #212121;
    box-shadow: none;
}

#resendCode .input-field img,
#registerCard .input-field img,
#passwCard .input-field img,
#createUser .input-field img {
    position: absolute;
    width: 21px;
    height: 23px;
    margin-left: 7px;
    top: 16px;
}

#registro button,
#passwCard button {
    width: 41%;
    font-size: 1.3rem;
    height: 50px;
    border-radius: 5px;
}
/*CAROUSEL*/

#carousel .owl-dot.active span{
     background: #f64552
}
#carousel .item {
    padding-right: 14px;
    padding-left: 14px;
}
.item img {
    width: 55%!important;
    margin: 0 auto;
}
.item p {

}
.btn-yellow, .btn-yellow:hover,
.btn-yellow:focus {
    background-color: #fbd43b;
    width: 80%;
    margin: 35px auto;
}
.row {
    margin: 0;
    padding: 0;
}


/*--------------*/
/*REGISTRO DE NÚMERO*/
#registro > .row,
#passwCard > .row {
    margin-bottom: 49px;
}


#registro .input-field img {
    position: absolute;
    width: 84px;
    height: 35px;
}

#terms * {
    font-size: 17px;
}
#registro form a {
    color: #00c3a3;
}


#registro [type="checkbox"].filled-in:not(:checked)+label:after {
    border-color: rgba(206, 195, 195, 0.54);
}
/*RESEND CODE */
#resendCode [src*="clock.png"] {
    width: 21px;
}
#resendCode span {
    color: #8f8f8f;
    font-size: 15px;
}
/*CREATE USER*/

#createUser input {
    font-size: 21px;
}
#createUser p:last-child {
    color: #8f8f8f;
}



/*---------------------*/
#time-out {
  background-color: #fbd43b;
  padding-top: 210px;
  width: 100%;
  height: 100vh;
}
/*REGISTER CARD*/
#registerCard > div:nth-child(2) > div:nth-child(2),
#line span {
    font-size: 18px;
    color: #00c3a3;
}
#registerCard > div:nth-child(2) > div:nth-child(2) > img,
#line img {
    width: 21px!important;
}
#registerCard .input-field img {
    width: 25px;
}
#registerCard [placeholder="Mes"],
#registerCard [placeholder="Año"] {
    width: 21%;
    margin-right: 7px;
    margin-left: 7px;
}
/*PASSWORD CARD*/
#passwCard button {
    width: 50%;
}


/*LAST MOVE */
#lastMove h5 {
    color: #fff;
}
