* {
    margin:0;
    box-sizing: border-box;
    padding: 0;
}

h5 {
    font-weight: 700;
}

.container {
    padding-top: 63px;
}

#carousel p, #registro p, #resendCode P {
    color: #8f8f8f;
    font-size: 17.5px;
}

#registro .input-field, #resendCode .input-field {
    position: relative;
}
#registro img:first-child,
#resendCode img:first-child,
#time-out img:first-child {
    width: 105px;
}
/*CAROUSEL*/

#carousel .owl-dot.active span{
     background: #f64552
}
.item img {
    width: 50%!important;
    margin: 0 auto;
}

.btn-yellow, .btn-yellow:hover {
    background-color: #fbd43b;
    width: 80%;
    margin: 35px auto;
}
.row {
    margin: 0;
    padding: 0;
}

/*--------------*/
/*REGISTRO*/
#registro > .row {
    margin-bottom: 49px;
}



#registro input[type=text]:focus {
    border-bottom-color: #fbd43b;
    box-shadow: 0 1px 0 0 #fbd43b;
}
#registro .input-field img {
    position: absolute;
    width: 84px;
    height: 35px;
}
#terms * {
    font-size: 14px;
}
#registro form a {
    color: #00c3a3;
}


/*RESEND CODE */

#resendCode .input-field img {
  position: absolute;
  width: 21px;
  height: 21px;
  margin-left: 7px;
  top: 16px;
}

#time-out {
  background-color: #fbd43b;
  padding-top: 210px;
  width: 100%;
  height: 100vh;
}
